<div class="jumbotron">
  <h1>Wealthsimple Ruby Sample</h1>
  <p>This example shows how to get an OAuth token from Wealthsimple using the <a href="https://developers.wealthsimple.com/#section/Introduction" target="_blank">authorization code grant flow</a> and to use that token to make calls to the Wealthsimple APIs.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="<%= @login_url %>" role="button" id="connect-button">Connect to Wealthsimple</a>
  </p>
</div>
