<script src="https://d3js.org/d3.v5.min.js"></script>

            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card bg-primary p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-bag f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white"><%= @totald %></h2>
                                     <p class="m-b-0">Total deposits</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-pink p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-comment f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white"><%= @gross %></h2>
                                    <p class="m-b-0">Gross Position</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-success p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-vector f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white"><%= @totalw %></h2>
                                    <p class="m-b-0">Total Withdrawals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-danger p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-location-pin f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white"><%= @liqValue %></h2>
                                    <p class="m-b-0">Net Liquidation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Sales</h4>
                            </div>
                            <div class="sales-chart">
                                <div class="ct-bar-chart" style="height:350px"></div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Breakfast</h4>
                            </div>
                            <div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover ">
										<thead>
											<tr>
												<th>Transaction date</th>
												<th>Cost</th>
												<th>Rounded cost</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>January 1, 2018</td>
												<td>3.68</td>
												<td>4</td>
											</tr>
											<tr>
												<td>January 2, 2018</td>
												<td>4.44</td>
												<td>5</td>
											</tr>
											<tr>
												<td>January 3, 2018</td>
												<td>6.56</td>
												<td>7</td>
											</tr>
											<tr>
												<td>January 4, 2018</td>
												<td>5.93</td>
												<td>6</td>
											</tr>
											<tr>
												<td>January 5, 2018</td>
												<td>10.78</td>
												<td>11</td>
											</tr>
											<tr>
												<td>January 6, 2018</td>
												<td>10.51</td>
												<td>11</td>
											</tr>
                                            <tr>
                                                <td>January 7, 2018</td>
                                                <td>2.36</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td>January 8, 2018</td>
                                                <td>3.68</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <td>January 9, 2018</td>
                                                <td>3.88</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <td>January 10, 2018</td>
                                                <td>6.50</td>
                                                <td>7</td>
                                            </tr>
                                            <tr>
                                                <td>January 11, 2018</td>
                                                <td>5.30</td>
                                                <td>6</td>
                                            </tr>
										</tbody>
									</table>
								</div>
							</div>
                        </div>
                    </div>
				</div>
				<div class="row">
                    <div class="col-lg-6">
                        <div class="card nestable-cart">
                            <div class="card-title">
                                <h4>Login Settings</h4>

                            </div>
                        </div>
                    </div>
					<div class="col-lg-6">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Visitor</h4>
                                <div class="ct-svg-chart" style="height:420px"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>

                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->